<html>

    <head>        
        <title>Aplikasi Klasifikasi Data Iris</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    </head>
    
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
    </style>

    <body>

        <h1>Klasifikasi data Iris:</h1>

        <form action="{{ url_for('predict') }}" method="post">

                <label for="sepal_length" >sepal_length</label>
                <input type="text" name="sepal_length" placeholder="sepal_length" required="required"/>

                <label for="sepal_width" >sepal_width

                </label >
                <input type="text" name="sepal_width" placeholder="sepal_width" required="required"/>

                <label for="petal_length" >petal_length

                </label >
                <input type="text" name="petal_length" placeholder="petal_length" required="required"/>

                <label for="petal_width">
                    petal_width
                </label >
                <input type="text" name="petal_width" placeholder="petal_width" required="required"/>

                <button type="submit">KLASIFIKASI IRIS </button>
            </form>
        </main>

        <section>
            <table>
                <tr>
                    <td><p>sepal_length </p></td>
                    <td>:</td>
                    <td>{{ sepal_length }}</td>
                </tr>
                <tr>
                    <td><p>sepal_width </p></td>
                    <td>:</td>
                    <td>{{ sepal_width }}</td>
                </tr>
                <tr>
                    <td><p>petal_length </p></td>
                    <td>:</td>
                    <td>{{ petal_length }}</td>
                </tr>
                <tr>
                    <td><p>petal_width </p></td>
                    <td>:</td>
                    <td>{{ petal_width }}</td>
                </tr>
            </table>
            
		    <h1>Hasil klasifikasi data iris adalah</h1>
            <h2> {{ hasil }}</h2>  
            </div>
                
            </div>           
        </section>
    </body>
</html>
